.footer {
    background-color: #536340;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    gap: 1rem;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

.footer a{
    /* padding: 1rem; */
    text-decoration: wavy underline;
    display: flex;
}

.footer img{
    padding: 0 0.25rem;
    
}