.nav {
    background-color: #96A06A;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-around;
}

.links {
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}

.links li{
    display: flex;
    background-color: #D26260;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.75rem;
    font-style: none;
}

.links Link {
    justify-content: center;
    align-self: center;
    text-align: center;
}